Bottleneck==1.4.0
einops==0.8.0
matplotlib==3.7.0
nibabel==5.2.1
numpy==1.26.4
pandas==2.2.2
patsy==0.5.3
scikit_learn==1.4.0
scipy==1.11.1
seaborn==0.13.2
torchinfo==1.8.0
tqdm==4.66.4
tsaug==0.2.1
torch==2.1.1
PyYaml==6.0.1